<template>
    <div class="container">
        <div class="track-container">
            <input class="input"
            :class="alertMessage ? 'is-danger' : ''"
            type="text"
            placeholder="Your tracking code goes here"
            @input="clearMessages"
            v-model="trackingCode">
            <span class="alert">{{ alertMessage }}</span>
            <span class="message" v-if="shipment"> Your shipment will be delivered on {{ shipment.delivery_date }}</span>
            <div class="updates-container" v-if="shipment">
                <span class="shipment-update" v-for="update in shipment.updates"> {{ update.update_message }}</span>
            </div>

            <button class="primary" @click="trackShipment">Track shipment</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shipment: null,
            trackingCode: null,
            alertMessage: null
        }
    },
    methods: {
        /*
        * sets our message related data objects back to null
        *
        */
        clearMessages() {
            this.alertMessage = null;
            this.shipment = null;
        },
        /**
        * Makes a post request to retrive a shipment
        * by tracking code
        *
        */
        trackShipment() {
            this.clearMessages();

            if(!this.trackingCode || this.trackingCode === '') {
                this.alertMessage = 'Please input a tracking code';
                return;
            }

            axios.post('/api/shipments/track', {
                tracking_code: this.trackingCode
            })
            .then(response => {
               this.shipment = response.data;
            })
            .catch(error => {
                this.alertMessage = error.response.data.message;
            });
        }
    }
}
</script>

<style lang="scss">
    div.track-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .input {
        background-color: #fff;
        border-color: #dbdbdb;
        border-radius: 4px;
        color: #363636;
        box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
        max-width: 600px;
        width: 100%;
        -webkit-appearance: none;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1.5rem;
        height: 2.25em;
        justify-content: center;
        line-height: 1.5;
        padding: 8px 14px;
        position: relative;
        vertical-align: top;
        text-align: center;
    }

    .input.is-danger {
        border-color: #ff3860;
    }

    button.primary {
        text-decoration: none;
        -webkit-appearance: none;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        cursor: pointer;
        justify-content: center;
        padding: 5px 12px;
        text-align: center;
        white-space: nowrap;
        background-color: #00d1b2;
        border-color: transparent;
        color: #fff;
        margin-right: .5rem;
        margin-bottom: .5rem;
    }

    span.alert {
        color: #ff3860;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    span.message {
        font-weight: bold;
        font: 400 13.3333px Arial;
        font-size: 24px;
        margin-bottom: 18px;
    }

    div.updates-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span.shipment-update {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
</style>
